
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    padding: 3px 3px 3px 3px;
    margin: 5px 5px 5px 60px;
    height: 200px;
    box-shadow: -5px -15px 35px grey;
}

ol {
    margin: 0;
    padding: 0px 0px 0px 16px;

}
li {
    word-wrap: break-word;
    padding: 3px;
    width: 250px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    /* color: green; */
}
a:hover {
    text-decoration-color: green;
}

table {
    column-gap: 2cap;
}

#right {
    padding: 0 0 0 30px;
}
#ing {
    text-decoration: underline;
    padding: 0 0 0 15px;
}
#step {
    text-decoration: underling;
    padding: 0 0 0 50px;
}
